.card {
    box-shadow: 0 1px 3px rgba(16,24,40,0.05), 0 1px 2px rgba(16,24,40,0.05);
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    height:200px; 
    object-fit: contain;
}
.card-img-top {
    width: auto;
    height: 150px;
    object-fit: contain;
}