.container{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    }

.containerProduits{
    padding-left: 15px;
    padding-right: 15px;
    flex: 1;
}

.content-wrapper {
  display: flex;
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  align-items: flex-start;
}

.sidebar-container {
  flex: 0 0 250px;
}

@media (max-width: 768px) {
  .content-wrapper {
    flex-direction: column;
  }
  .sidebar-container {
    flex: 1;
    width: 100%;
  }
}

.footer {
    background-color: #0b2e52;
    color: white;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
    z-index: 10;
    width: 100%;
    justify-content: flex-end;
    margin-top: auto;



    
}